.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* user table */
.userTable{
  @apply bg-white
}
.userTable th{
  @apply border text-base font-medium
}

.userTable td{
  @apply border text-base  text-center
}

/* Scrollbar hidden */

.scrollbar-none::-webkit-scrollbar{
display: none;
}

/* Styles for showing the category list only on desktop */
.category-list-desktop {
  display: none;
}

@media (min-width: 768px) {
  .category-list-desktop {
    display: block;
  }
}

